body{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
.box{
    height: 100px;
    width: 100px;
    background-color: red;
    animation: round 10s infinite;
}
.box:hover{
    background-color: rgb(206, 182, 48);
}
@keyframes round{
    0%   {transform: rotate(36deg);}
    10%   {transform: rotate(72deg);}
    20%   {transform: rotate(108deg);}
    30%   {transform: rotate(144deg);}
    40%   {transform: rotate(180deg);}
    50%   {transform: rotate(216deg);}
    60%   {transform: rotate(252deg);}
    70%   {transform: rotate(288deg);}
    80%   {transform: rotate(324deg);}
    90%   {transform: rotate(360deg);}
    100%   {transform: rotate(360deg);}
}